attrs==25.3.0
beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
click-plugins==1.1.1.2
cligj==0.7.2
DateTime==5.5
elementpath==5.0.3
fiona==1.10.1
geopandas==1.1.1
idna==3.10
lxml==6.0.0
numpy==2.3.2
packaging==25.0
pandas==2.3.1
pyogrio==0.11.0
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
setuptools==80.9.0
shapely==2.1.1
six==1.17.0
soupsieve==2.7
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
xmltodict==0.14.2
zope.interface==7.2
